<% layout('layout') %>
<h1 class="text-2xl font-bold mb-4 text-center">Welcome! to Office Management System</h1>
<p class="text-gray-700 text-center">Use the nav to manage Departments and Employees.</p>
